version: '3.8'

services:

  rabbitmq:
    image: rabbitmq:3.12.10-management-alpine
    container_name: message-sender-rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - office-booking

  pg:
    image: postgres:17-alpine
    container_name: entera-office-booking-db
    command: -c "max_connections=500"
    volumes:
      - local_data:/var/lib/postgresql/data
      - ./entera-office-booking/local_init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U entera -d entera_office_booking"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - office-booking

  message-sender:
    image: message-sender:latest
    build:
      context: ./message-sender
    container_name: message-sender
    env_file:
      - ./message-sender/.env
    environment:
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5006
    ports:
      - "9015:9015"
      - "5006:5006"
    volumes:
      - ./message-sender/logging/properties.xml:/logging/properties.xml
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - office-booking

  entera-office-booking:
    image: entera-office-booking:latest
    build:
      context: ./entera-office-booking
    container_name: entera-office-booking
    env_file:
      - ./entera-office-booking/.env
    ports:
      - "9011:9011"
      - "5009:5009"
    volumes:
      - ./entera-office-booking/src/main/resources/logging/properties.xml:/logging/properties.xml
    depends_on:
      rabbitmq:
        condition: service_healthy
      pg:
        condition: service_healthy
    networks:
      - office-booking

volumes:
  local_data:
networks:
  office-booking:
    driver: bridge

