<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="application.home" value="."/>
    <include resource="logging/properties.xml"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home}/logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${application.home}/logs/application-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>
    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%date) %highlight(%level) %magenta(%logger{15}) - %message%n%xException{10}</pattern>
        </encoder>
    </appender>
    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>
    <logger name="application" level="DEBUG"/>
    <include resource="logging/sql.xml"/>
    <root level="INFO">
        <appender-ref ref="ASYNCFILE"/>
        <if condition='p("console.log.enabled").equals("true")'>
            <then>
                <appender-ref ref="ASYNCSTDOUT"/>
            </then>
        </if>
    </root>
</configuration>
