# Application settings
SERVER_PORT=9011

# RabbitMQ settings
RABBITMQ_HOST=message-sender-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Mail settings
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=587
MAIL_USERNAME=***email to use as a sender***
MAIL_PASSWORD==***email password to use as a sender***

# Application-specific settings
EMAIL_TEMPLATES_PATH=email/
EMAIL_SENDER_ADDRESS=***email to show as a sender in template***
ENTERA_LOGO_PATH=images/logo.png
LOCALE=ru-RU
