# Postgres settings
POSTGRES_URL=jdbc:postgresql://pg:5432/entera_office_booking?characterEncoding=UTF8
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password

# Rabbit
SPRING_RABBITMQ_HOST=message-sender-rabbitmq

# Security
JWT_SECRET=secret_token
JWT_EXPIRATION=86400000
